-- CreateEnum
CREATE TYPE "ResFaseI" AS ENUM ('C', 'I', 'NA');

-- CreateEnum
CREATE TYPE "ResFaseII" AS ENUM ('S', 'NS', 'C', 'NA');

-- CreateEnum
CREATE TYPE "ResFaseIII" AS ENUM ('C', 'I', 'NA', 'P');

-- CreateEnum
CREATE TYPE "Calificativo" AS ENUM ('CORRECTO', 'ACEPTABLE', 'DEFICIENTE', 'PENDIENTE');

-- CreateEnum
CREATE TYPE "CalificativoB" AS ENUM ('ACEPTABLE', 'COMPLETO', 'GRAVE', 'PENDIENTE');

-- CreateEnum
CREATE TYPE "AResultado" AS ENUM ('NO_SOLVENTADO', 'SOLVENTADO');

-- CreateEnum
CREATE TYPE "Resolucion" AS ENUM ('DEVUELTA', 'PASA_COMITE');

-- CreateEnum
CREATE TYPE "GrupoTipo" AS ENUM ('SISCONCRE', 'SISCONCAP', 'ACREDITO');

-- CreateEnum
CREATE TYPE "Figura" AS ENUM ('MENOR', 'SOCIO');

-- CreateEnum
CREATE TYPE "Movimiento" AS ENUM ('ACTUALIZACION', 'ALTA', 'APERTURA', 'BAJA');

-- CreateEnum
CREATE TYPE "CargaEstado" AS ENUM ('CARGADO', 'PROCESADO', 'ANULADO');

-- CreateEnum
CREATE TYPE "RADIO_AREA" AS ENUM ('CREDITO');

-- CreateTable
CREATE TABLE "R17Cooperativas" (
    "R17Id" UUID NOT NULL,
    "R17Nom" TEXT NOT NULL,
    "R17Activ" BOOLEAN NOT NULL DEFAULT true,
    "R17Logo" TEXT NOT NULL,
    "R17Creada_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R17Cooperativas_pkey" PRIMARY KEY ("R17Id")
);

-- CreateTable
CREATE TABLE "R01Prestamo" (
    "R01NUM" CHAR(8) NOT NULL,
    "R01Suc_id" UUID NOT NULL,
    "R01Nso" CHAR(6) NOT NULL,
    "R01Nom" TEXT NOT NULL,
    "R01Cat_id" UUID NOT NULL,
    "R01Pro_id" UUID NOT NULL,
    "R01Imp" DOUBLE PRECISION NOT NULL,
    "R01Dir" CHAR(2) NOT NULL,
    "R01SP_id" UUID NOT NULL,
    "R01Ejvo_id" UUID NOT NULL,
    "R01Fsol" TEXT NOT NULL,
    "R01FRec" TEXT NOT NULL,
    "R01FRev" TEXT NOT NULL,
    "R01FMov" TEXT NOT NULL,
    "R01ObsA" TEXT,
    "R01ObsM" TEXT,
    "R01ObsB" TEXT,
    "R01ObsT" TEXT,
    "R01Notas" TEXT,
    "R01Est" TEXT NOT NULL,
    "R01Activ" BOOLEAN NOT NULL,
    "R01Coop_id" UUID NOT NULL,
    "R01Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "R01Actualizado_en" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R01Prestamo_pkey" PRIMARY KEY ("R01NUM")
);

-- CreateTable
CREATE TABLE "R02Grupo" (
    "R02Id" UUID NOT NULL,
    "R02Nom" TEXT NOT NULL,
    "R02Coop_id" UUID NOT NULL,
    "R02Tipo" "GrupoTipo" NOT NULL DEFAULT 'SISCONCRE',
    "R02Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "R02Actualizado_en" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R02Grupo_pkey" PRIMARY KEY ("R02Id")
);

-- CreateTable
CREATE TABLE "R03Rubro" (
    "R03Id" UUID NOT NULL,
    "R03G_id" UUID NOT NULL,
    "R03Nom" TEXT NOT NULL,
    "R03Actualizado_en" TIMESTAMP(3) NOT NULL,
    "R03Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R03Rubro_pkey" PRIMARY KEY ("R03Id")
);

-- CreateTable
CREATE TABLE "R04Elemento" (
    "R04Id" UUID NOT NULL,
    "R04R_id" UUID NOT NULL,
    "R04Nom" TEXT NOT NULL,
    "R04Imp" TEXT NOT NULL,
    "R04Pond" INTEGER NOT NULL DEFAULT 0,
    "R04Codigo" TEXT,
    "R04Actualizado_en" TIMESTAMP(3) NOT NULL,
    "R04Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R04Elemento_pkey" PRIMARY KEY ("R04Id")
);

-- CreateTable
CREATE TABLE "R05EvaluacionFase1" (
    "R05Id" UUID NOT NULL,
    "R05P_num" CHAR(8) NOT NULL,
    "R05E_id" UUID NOT NULL,
    "R05Res" "ResFaseI" NOT NULL DEFAULT 'NA',
    "R05Ev_por" UUID NOT NULL,
    "R05Ev_en" TEXT NOT NULL,

    CONSTRAINT "R05EvaluacionFase1_pkey" PRIMARY KEY ("R05Id")
);

-- CreateTable
CREATE TABLE "R06EvaluacionResumenFase1" (
    "R06P_num" CHAR(8) NOT NULL,
    "R06Ha" INTEGER NOT NULL,
    "R06Hm" INTEGER NOT NULL,
    "R06Hb" INTEGER NOT NULL,
    "R06Rc" INTEGER NOT NULL,
    "R06Cal" "Calificativo" NOT NULL,
    "R06Res" "Resolucion" NOT NULL,
    "R06Ev_por" UUID NOT NULL,

    CONSTRAINT "R06EvaluacionResumenFase1_pkey" PRIMARY KEY ("R06P_num")
);

-- CreateTable
CREATE TABLE "R07EvaluacionFase2" (
    "R07Id" UUID NOT NULL,
    "R07P_num" CHAR(8) NOT NULL,
    "R07E_id" UUID NOT NULL,
    "R07Res" "ResFaseII" NOT NULL,
    "R07Ev_por" UUID NOT NULL,
    "R07Ev_en" TEXT NOT NULL,

    CONSTRAINT "R07EvaluacionFase2_pkey" PRIMARY KEY ("R07Id")
);

-- CreateTable
CREATE TABLE "R08EvaluacionResumenFase2" (
    "R08P_num" CHAR(8) NOT NULL,
    "R08SolvT" INTEGER NOT NULL,
    "R08SolvA" INTEGER NOT NULL,
    "R08SolvM" INTEGER NOT NULL,
    "R08SolvB" INTEGER NOT NULL,
    "R08Rc" INTEGER NOT NULL,
    "R08Cal" "Calificativo" NOT NULL,
    "R08Res" "Resolucion" NOT NULL,
    "R08Obs" TEXT NOT NULL,
    "R08FSeg" TEXT NOT NULL,
    "R08Ev_por" UUID NOT NULL,

    CONSTRAINT "R08EvaluacionResumenFase2_pkey" PRIMARY KEY ("R08P_num")
);

-- CreateTable
CREATE TABLE "R09EvaluacionFase3" (
    "R09Id" UUID NOT NULL,
    "R09P_num" CHAR(8) NOT NULL,
    "R09E_id" UUID NOT NULL,
    "R09Res" "ResFaseIII" NOT NULL,
    "R09Ev_en" TEXT NOT NULL,

    CONSTRAINT "R09EvaluacionFase3_pkey" PRIMARY KEY ("R09Id")
);

-- CreateTable
CREATE TABLE "R10EvaluacionResumenFase3" (
    "R10P_num" CHAR(8) NOT NULL,
    "R10Ha" INTEGER NOT NULL,
    "R10Pendientes" INTEGER NOT NULL,
    "R10Rc" INTEGER NOT NULL,
    "R10Cal" "Calificativo" NOT NULL,
    "R10Obs" TEXT NOT NULL,
    "R10FDes" TEXT NOT NULL,
    "R10Ev_por" UUID NOT NULL,
    "R10Sup" UUID NOT NULL,

    CONSTRAINT "R10EvaluacionResumenFase3_pkey" PRIMARY KEY ("R10P_num")
);

-- CreateTable
CREATE TABLE "R11Sucursal" (
    "R11Id" UUID NOT NULL,
    "R11NumSuc" TEXT NOT NULL,
    "R11Nom" TEXT NOT NULL,
    "R11Coop_id" UUID NOT NULL,
    "R11Actualizado_en" TIMESTAMP(3) NOT NULL,
    "R11Creada_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R11Sucursal_pkey" PRIMARY KEY ("R11Id")
);

-- CreateTable
CREATE TABLE "R12Usuario" (
    "R12Id" UUID NOT NULL,
    "R12Ni" TEXT NOT NULL,
    "R12Nom" TEXT NOT NULL,
    "R12Suc_id" UUID NOT NULL,
    "R12Rol" TEXT NOT NULL,
    "R12Activ" BOOLEAN NOT NULL DEFAULT true,
    "R12Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "R12Coop_id" UUID NOT NULL,
    "R12Password" TEXT NOT NULL,
    "R12Actualizado_en" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R12Usuario_pkey" PRIMARY KEY ("R12Id")
);

-- CreateTable
CREATE TABLE "R13Producto" (
    "R13Id" UUID NOT NULL,
    "R13Nom" TEXT NOT NULL,
    "R13Cat_id" UUID NOT NULL,
    "R13Activ" BOOLEAN NOT NULL,
    "R13Coop_id" UUID NOT NULL,
    "R13Actualizado_en" TIMESTAMP(3) NOT NULL,
    "R13Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R13Producto_pkey" PRIMARY KEY ("R13Id")
);

-- CreateTable
CREATE TABLE "R14Categoria" (
    "R14Id" UUID NOT NULL,
    "R14Nom" TEXT NOT NULL,
    "R14Activ" BOOLEAN NOT NULL,
    "R14Coop_id" UUID NOT NULL,
    "R14Actualizado_en" TIMESTAMP(3) NOT NULL,
    "R14Creada_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "R14Categoria_pkey" PRIMARY KEY ("R14Id")
);

-- CreateTable
CREATE TABLE "R15EvaluacionFase4" (
    "R15Id" UUID NOT NULL,
    "R15P_num" CHAR(8) NOT NULL,
    "R15E_id" UUID NOT NULL,
    "R15Res" "ResFaseII" NOT NULL,

    CONSTRAINT "R15EvaluacionFase4_pkey" PRIMARY KEY ("R15Id")
);

-- CreateTable
CREATE TABLE "R16EvaluacionResumenFase4" (
    "R16P_num" CHAR(8) NOT NULL,
    "R16SolvT" INTEGER NOT NULL,
    "R16SolvA" INTEGER NOT NULL,
    "R16SolvM" INTEGER NOT NULL,
    "R16SolvB" INTEGER NOT NULL,
    "R16SegCal" "Calificativo" NOT NULL,
    "R16HaSolv" INTEGER NOT NULL,
    "R16PenCu" INTEGER NOT NULL,
    "R16RcF" INTEGER NOT NULL,
    "R16DesCal" "Calificativo" NOT NULL,
    "R16CalF" "Calificativo" NOT NULL,
    "R16Obs" TEXT NOT NULL,
    "R16FGlo" TEXT NOT NULL,
    "R16Ev_por" UUID NOT NULL,

    CONSTRAINT "R16EvaluacionResumenFase4_pkey" PRIMARY KEY ("R16P_num")
);

-- CreateTable
CREATE TABLE "R18LimitePrudencial" (
    "R18Id" UUID NOT NULL,
    "R18Importe" INTEGER NOT NULL,
    "R18Coop_id" UUID NOT NULL,
    "R18Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "R18Actualizado_en" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R18LimitePrudencial_pkey" PRIMARY KEY ("R18Id")
);

-- CreateTable
CREATE TABLE "R19Movimientos" (
    "R19Folio" SERIAL NOT NULL,
    "R19Cag" TEXT NOT NULL,
    "R19Nom" TEXT NOT NULL,
    "R19Figura" "Figura" NOT NULL,
    "R19Suc_id" UUID NOT NULL,
    "R19TipoMov" "Movimiento" NOT NULL,
    "R19FMov" TEXT NOT NULL,
    "R19FRec" TEXT NOT NULL,
    "R19FRev" TEXT NOT NULL,
    "R19Est" TEXT NOT NULL,
    "R19Coop_id" UUID NOT NULL,
    "R19Creado_en" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "R19Actualizado_en" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R19Movimientos_pkey" PRIMARY KEY ("R19Folio")
);

-- CreateTable
CREATE TABLE "R20EvaluacionFase1Sisconcap" (
    "R20Id" UUID NOT NULL,
    "R20Folio" INTEGER NOT NULL,
    "R20E_id" UUID NOT NULL,
    "R20Res" "ResFaseI" NOT NULL DEFAULT 'NA',

    CONSTRAINT "R20EvaluacionFase1Sisconcap_pkey" PRIMARY KEY ("R20Id")
);

-- CreateTable
CREATE TABLE "R21EvaluacionResumenFase1" (
    "R21Folio" INTEGER NOT NULL,
    "R21Ha" INTEGER NOT NULL,
    "R21Rc" INTEGER NOT NULL,
    "R21Cal" "Calificativo" NOT NULL,
    "R21Obs" TEXT NOT NULL,
    "R21Ejvo_id" UUID NOT NULL,
    "R21SP_id" UUID NOT NULL,

    CONSTRAINT "R21EvaluacionResumenFase1_pkey" PRIMARY KEY ("R21Folio")
);

-- CreateTable
CREATE TABLE "R22EvaluacionFase2Sisconcap" (
    "R22Id" UUID NOT NULL,
    "R22Folio" INTEGER NOT NULL,
    "R22E_id" UUID NOT NULL,
    "R22Res" "ResFaseII" NOT NULL DEFAULT 'NA',

    CONSTRAINT "R22EvaluacionFase2Sisconcap_pkey" PRIMARY KEY ("R22Id")
);

-- CreateTable
CREATE TABLE "R23EvaluacionResumenFase2" (
    "R23Folio" INTEGER NOT NULL,
    "R23Solv" INTEGER NOT NULL,
    "R23PSolv" INTEGER NOT NULL,
    "R23Rc" INTEGER NOT NULL,
    "R23Obs" TEXT NOT NULL,
    "R23Cal" "Calificativo" NOT NULL,
    "R23FSeg" TEXT NOT NULL,
    "R23SP_id" UUID NOT NULL,

    CONSTRAINT "R23EvaluacionResumenFase2_pkey" PRIMARY KEY ("R23Folio")
);

-- CreateTable
CREATE TABLE "R24EvaluacionFase3Sisconcap" (
    "R24Id" UUID NOT NULL,
    "R24Folio" INTEGER NOT NULL,
    "R24E_id" UUID NOT NULL,
    "R24Res" "ResFaseII" NOT NULL DEFAULT 'NA',

    CONSTRAINT "R24EvaluacionFase3Sisconcap_pkey" PRIMARY KEY ("R24Id")
);

-- CreateTable
CREATE TABLE "R25EvaluacionResumenFase3" (
    "R25Folio" INTEGER NOT NULL,
    "R25Solv" INTEGER NOT NULL,
    "R25PSolv" INTEGER NOT NULL,
    "R25Rc" INTEGER NOT NULL,
    "R25Obs" TEXT NOT NULL,
    "R25Cal" "Calificativo" NOT NULL,
    "R25FSegG" TEXT NOT NULL,
    "R25SP_id" UUID NOT NULL,

    CONSTRAINT "R25EvaluacionResumenFase3_pkey" PRIMARY KEY ("R25Folio")
);

-- CreateTable
CREATE TABLE "C01ControlCarga" (
    "C01Id" SERIAL NOT NULL,
    "C01CooperativaCodigo" UUID NOT NULL,
    "C01Archivo" TEXT,
    "C01FechaCarga" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "C01PeriodoMes" INTEGER NOT NULL,
    "C01PeriodoAnio" INTEGER NOT NULL,
    "C01Area" "RADIO_AREA" NOT NULL DEFAULT 'CREDITO',

    CONSTRAINT "C01ControlCarga_pkey" PRIMARY KEY ("C01Id")
);

-- CreateTable
CREATE TABLE "RA01Credito" (
    "RA01Folio" SERIAL NOT NULL,
    "RA01NumeroDeCredito" TEXT NOT NULL,
    "RA01Tipo" TEXT NOT NULL,
    "RA01Categoria" TEXT NOT NULL,
    "RA01Finalidad" TEXT NOT NULL,
    "RA01DestinoAgropecuario" TEXT NOT NULL,
    "RA01FormaPago" TEXT NOT NULL,
    "RA01FEntrega" TEXT NOT NULL,
    "RA01FVencimiento" TEXT NOT NULL,
    "RA01PeriodicidadCapital" DECIMAL(18,2) NOT NULL,
    "RA01PeriodicidadIntereses" DECIMAL(18,2) NOT NULL,
    "RA01Plazo" INTEGER NOT NULL,
    "RA01Abonos" TEXT NOT NULL,
    "RA01CEntregada" INTEGER NOT NULL,
    "RA01Microcredito" DECIMAL(18,2) NOT NULL,
    "RA01TipoDeAutorizacion" TEXT NOT NULL,
    "RA01UsrAutorizacion" TEXT NOT NULL,
    "RA01UsrSolicitud" TEXT NOT NULL,
    "RA01Sucursal" TEXT NOT NULL,
    "RA01TasaOrdinaria" DECIMAL(18,2) NOT NULL,
    "RA01TasaMoratoria" DECIMAL(18,2) NOT NULL,
    "RA01EstimacionCapital" DECIMAL(18,2) NOT NULL,
    "RA01EstimacionInteres" DECIMAL(18,2) NOT NULL,
    "RA01EstimacionAdicionalPorInteresesEnCarteraVencida" TEXT NOT NULL,
    "RA01OrdenoEprc" TEXT NOT NULL,
    "RA01TotalEstimado" DECIMAL(18,2) NOT NULL,
    "RA01CalificacionParteCubierta" DECIMAL(18,2) NOT NULL,
    "RA01CalificacionParteExpuesta" DECIMAL(18,2) NOT NULL,
    "RA01ParteCubierta" TEXT NOT NULL,
    "RA01ParteExpuesta" DECIMAL(18,2) NOT NULL,
    "RA01MontoEstPartCubierta" DECIMAL(18,2) NOT NULL,
    "RA01MontoEstPartExpuesta" DECIMAL(18,2) NOT NULL,
    "RA01TipoDeCartera" TEXT NOT NULL,
    "RA01GarantiaHipotecaria" DECIMAL(18,2) NOT NULL,
    "RA01Formalizada" TEXT NOT NULL,
    "RA01LibreGravamen" TEXT NOT NULL,
    "RA01FavorSociedad" TEXT NOT NULL,
    "RA01AvaluoActuallizado" TEXT NOT NULL,
    "RA01DepositoGarantia" DECIMAL(18,2) NOT NULL,
    "RA01GarantiaLiquida" DECIMAL(18,2) NOT NULL,
    "RA01CreditoRedescontado" TEXT NOT NULL,
    "RA01InstitucionFuenteRecursos" TEXT NOT NULL,
    "RA01PorcentajeGarantia" DECIMAL(18,2) NOT NULL,
    "RA01GarantiaPrendaria" DECIMAL(18,2) NOT NULL,
    "RA01NumeroCag" TEXT NOT NULL,
    "RA01NumeroDeSocio" TEXT NOT NULL,
    "RA01Nombre" TEXT NOT NULL,
    "RA01RazonSocial" TEXT NOT NULL,
    "RA01Sexo" TEXT NOT NULL,
    "RA01FIngreso" TEXT NOT NULL,
    "RA01FNacimiento" TEXT NOT NULL,
    "RA01SocioRelacionado" TEXT NOT NULL,
    "RA01Calle" TEXT NOT NULL,
    "RA01NoCivico" TEXT NOT NULL,
    "RA01Colonia" TEXT NOT NULL,
    "RA01Ciudad" TEXT NOT NULL,
    "RA01Municipio" TEXT NOT NULL,
    "RA01Estado" TEXT NOT NULL,
    "RA01CodPostal" TEXT NOT NULL,
    "RA01Telefono" TEXT NOT NULL,
    "RA01Marginada" TEXT NOT NULL,
    "RA01GradoEstudios" TEXT NOT NULL,
    "RA01Ocupacion" TEXT NOT NULL,
    "RA01Curp" TEXT NOT NULL,
    "RA01Rfc" TEXT NOT NULL,
    "RA01Riesgo" TEXT NOT NULL,
    "RA01Ingresos" DECIMAL(18,2) NOT NULL,
    "RA01TendenciaGastos" DECIMAL(18,2) NOT NULL,
    "RA01MontoHaberes" DECIMAL(18,2) NOT NULL,
    "RA01CapitalCobrado" DECIMAL(18,2) NOT NULL,
    "RA01CapitalVencido" DECIMAL(18,2) NOT NULL,
    "RA01AbonosVencidos" INTEGER NOT NULL,
    "RA01DiasMora" INTEGER NOT NULL,
    "RA01DiasParaVencer" INTEGER NOT NULL,
    "RA01FechaUltimoPagoCapital" TEXT NOT NULL,
    "RA01MontoUltPagoCapital" DECIMAL(18,2) NOT NULL,
    "RA01FechaUltimoPagoInteres" TEXT NOT NULL,
    "RA01MontoUltPagoInteres" DECIMAL(18,2) NOT NULL,
    "RA01FechaCambioSituacion" TEXT NOT NULL,
    "RA01InteresMoratorio" DECIMAL(18,2) NOT NULL,
    "RA01InteresMoratorioCobrado" DECIMAL(18,2) NOT NULL,
    "RA01InteresMoratorioCarteraVe" DECIMAL(18,2) NOT NULL,
    "RA01InteresMoratorioCtaOrden" DECIMAL(18,2) NOT NULL,
    "RA01InteresNormal" DECIMAL(18,2) NOT NULL,
    "RA01InteresNormalCobrado" DECIMAL(18,2) NOT NULL,
    "RA01InteresNormalCarteraVe" DECIMAL(18,2) NOT NULL,
    "RA01InteresNormalCtaOrden" DECIMAL(18,2) NOT NULL,
    "RA01InteresProximoAbono" DECIMAL(18,2) NOT NULL,
    "RA01FechaProximoAbono" TEXT NOT NULL,
    "RA01SaldoCapitalCartVig" DECIMAL(18,2) NOT NULL,
    "RA01SaldoCapitalCartVen" DECIMAL(18,2) NOT NULL,
    "RA01TipoDeCobranza" TEXT NOT NULL,
    "RA01VigenteOVencido" TEXT NOT NULL,
    "RA01FPrimeramortvencida" TEXT NOT NULL,
    "RA01FConsultaburo" TEXT NOT NULL,
    "RA01SituacionDelCredito" TEXT NOT NULL,
    "RA01TotalCartera" DECIMAL(18,2) NOT NULL,
    "RA01ControlId" INTEGER NOT NULL,

    CONSTRAINT "RA01Credito_pkey" PRIMARY KEY ("RA01Folio")
);

-- CreateTable
CREATE TABLE "A01MuestraSeleccionCredito" (
    "A01Id" SERIAL NOT NULL,
    "A01FechaCreacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "A01UsuarioId" UUID NOT NULL,
    "A01CoopId" UUID NOT NULL,
    "A01MargenError" DOUBLE PRECISION NOT NULL,
    "A01NivelConfianza" DOUBLE PRECISION NOT NULL,
    "A01FechaInicio" TIMESTAMP(3) NOT NULL,
    "A01FechaFinal" TIMESTAMP(3) NOT NULL,
    "A01TamanoMuestra" INTEGER NOT NULL,
    "A01TamanoUniverso" INTEGER NOT NULL,
    "A01Finalizada" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "A01MuestraSeleccionCredito_pkey" PRIMARY KEY ("A01Id")
);

-- CreateTable
CREATE TABLE "A02MuestraCreditoSeleccion" (
    "A02Id" SERIAL NOT NULL,
    "A02MuestraId" INTEGER NOT NULL,
    "A02CreditoFolio" INTEGER NOT NULL,
    "A02Sucursal" UUID NOT NULL,
    "A02CAG" TEXT,
    "A02Nombre" TEXT,
    "A02Relacion" TEXT,
    "A02Prestamo" TEXT,
    "A02Clasificacion" TEXT,
    "A02Producto" TEXT,
    "A02Finalidad" TEXT,
    "A02DestinoAgro" TEXT,
    "A02TipoPago" TEXT,
    "A02FechaOtorgamiento" TEXT,
    "A02FechaVencimiento" TEXT,
    "A02FechaConsultaBuro" TEXT,
    "A02FechaEntrega" TEXT,
    "A02PlazoDias" INTEGER,
    "A02TasaInteresNormal" DECIMAL(18,2),
    "A02CantidadEntregada" INTEGER,
    "A02DeudaTotal" DECIMAL(18,2),
    "A02GarantiaLiquida" DECIMAL(18,2),
    "A02GarantiaPrendaria" DECIMAL(18,2),
    "A02GarantiaHipotecaria" DECIMAL(18,2),
    "A02TipoAutorizacion" TEXT,
    "A02UsrAutorizacionNi" TEXT,
    "A02UsrAutorizacionNombre" TEXT,
    "A02TipoCredito" TEXT,
    "A02Estado" TEXT NOT NULL DEFAULT 'No revisado',

    CONSTRAINT "A02MuestraCreditoSeleccion_pkey" PRIMARY KEY ("A02Id")
);

-- CreateTable
CREATE TABLE "A03EvaluacionFase1AuditoriaC" (
    "A03Id" UUID NOT NULL,
    "A03CSId" INTEGER NOT NULL,
    "A03E_id" UUID NOT NULL,
    "A03Res" "ResFaseI" NOT NULL DEFAULT 'NA',

    CONSTRAINT "A03EvaluacionFase1AuditoriaC_pkey" PRIMARY KEY ("A03Id")
);

-- CreateTable
CREATE TABLE "A04EvaluacionResumenFase1" (
    "A04Id" INTEGER NOT NULL,
    "A04PSAut" TEXT NOT NULL,
    "A04Excep" TEXT NOT NULL,
    "A04Ha" INTEGER NOT NULL,
    "A04PRes" INTEGER NOT NULL,
    "A04MonR" INTEGER NOT NULL,
    "A04CalA" "Calificativo" NOT NULL,
    "A04CalB" "CalificativoB" NOT NULL,
    "A04Obs" TEXT NOT NULL,
    "A04Comp" TEXT NOT NULL,
    "A04FPlzo" TEXT NOT NULL,
    "A04Resp" UUID NOT NULL,
    "A04Aud_id" UUID NOT NULL,
    "A04FRev" TEXT NOT NULL,

    CONSTRAINT "A04EvaluacionResumenFase1_pkey" PRIMARY KEY ("A04Id")
);

-- CreateTable
CREATE TABLE "A05EvaluacionFase2AuditoriaC" (
    "A05Id" UUID NOT NULL,
    "A05CSId" INTEGER NOT NULL,
    "A05E_id" UUID NOT NULL,
    "A05Res" "ResFaseII" NOT NULL DEFAULT 'NA',

    CONSTRAINT "A05EvaluacionFase2AuditoriaC_pkey" PRIMARY KEY ("A05Id")
);

-- CreateTable
CREATE TABLE "A06EvaluacionResumenFase2" (
    "A06Id" INTEGER NOT NULL,
    "A06Solv" INTEGER NOT NULL,
    "A06NSolv" INTEGER NOT NULL,
    "A06ARes" "AResultado" NOT NULL,
    "A06Obs" TEXT NOT NULL,
    "A06Aud_id" UUID NOT NULL,
    "A06FSeg" TEXT NOT NULL,

    CONSTRAINT "A06EvaluacionResumenFase2_pkey" PRIMARY KEY ("A06Id")
);

-- CreateTable
CREATE TABLE "M01ControlMigracion" (
    "M01Id" SERIAL NOT NULL,
    "M01Coop_id" UUID NOT NULL,
    "M01Sistema" TEXT NOT NULL,
    "M01Fase" TEXT NOT NULL,
    "M01Archivo" TEXT NOT NULL,
    "M01Fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "M01Total" INTEGER NOT NULL,
    "M01Correctos" INTEGER NOT NULL,
    "M01Errores" INTEGER NOT NULL,
    "M01Estado" TEXT NOT NULL,
    "M01Log" TEXT,

    CONSTRAINT "M01ControlMigracion_pkey" PRIMARY KEY ("M01Id")
);

-- CreateTable
CREATE TABLE "M02Modulo" (
    "M02Id" SERIAL NOT NULL,
    "M02Codigo" TEXT NOT NULL,
    "M02Nombre" TEXT NOT NULL,
    "M02Orden" INTEGER,
    "M02Activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "M02Modulo_pkey" PRIMARY KEY ("M02Id")
);

-- CreateTable
CREATE TABLE "M03SubModulo" (
    "M03Id" SERIAL NOT NULL,
    "M03Codigo" TEXT NOT NULL,
    "M03Nombre" TEXT NOT NULL,
    "M03Orden" INTEGER,
    "M03Activo" BOOLEAN NOT NULL DEFAULT true,
    "M03ModuloId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "M03SubModulo_pkey" PRIMARY KEY ("M03Id")
);

-- CreateTable
CREATE TABLE "C02CooperativaModulo" (
    "C02Id" SERIAL NOT NULL,
    "C02CoopId" UUID NOT NULL,
    "C02ModuloId" INTEGER NOT NULL,
    "C02Activo" BOOLEAN NOT NULL DEFAULT true,
    "C02FechaInicio" TIMESTAMP(3) NOT NULL,
    "C02FechaFin" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "C02CooperativaModulo_pkey" PRIMARY KEY ("C02Id")
);

-- CreateTable
CREATE TABLE "C03CooperativaSubModulo" (
    "C03Id" SERIAL NOT NULL,
    "C03CoopModuloId" INTEGER NOT NULL,
    "C03SubModuloId" INTEGER NOT NULL,
    "C03Activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "C03CooperativaSubModulo_pkey" PRIMARY KEY ("C03Id")
);

-- CreateTable
CREATE TABLE "_R09EvaluacionFase3ToR12Usuario" (
    "A" UUID NOT NULL,
    "B" UUID NOT NULL,

    CONSTRAINT "_R09EvaluacionFase3ToR12Usuario_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_R12UsuarioToR15EvaluacionFase4" (
    "A" UUID NOT NULL,
    "B" UUID NOT NULL,

    CONSTRAINT "_R12UsuarioToR15EvaluacionFase4_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "R12Usuario_R12Ni_key" ON "R12Usuario"("R12Ni");

-- CreateIndex
CREATE INDEX "C01ControlCarga_C01CooperativaCodigo_C01PeriodoMes_C01Perio_idx" ON "C01ControlCarga"("C01CooperativaCodigo", "C01PeriodoMes", "C01PeriodoAnio");

-- CreateIndex
CREATE UNIQUE INDEX "C01ControlCarga_C01CooperativaCodigo_C01PeriodoMes_C01Perio_key" ON "C01ControlCarga"("C01CooperativaCodigo", "C01PeriodoMes", "C01PeriodoAnio");

-- CreateIndex
CREATE INDEX "M01ControlMigracion_M01Coop_id_M01Sistema_M01Fase_idx" ON "M01ControlMigracion"("M01Coop_id", "M01Sistema", "M01Fase");

-- CreateIndex
CREATE INDEX "M01ControlMigracion_M01Fecha_idx" ON "M01ControlMigracion"("M01Fecha");

-- CreateIndex
CREATE UNIQUE INDEX "M02Modulo_M02Codigo_key" ON "M02Modulo"("M02Codigo");

-- CreateIndex
CREATE UNIQUE INDEX "M03SubModulo_M03ModuloId_M03Codigo_key" ON "M03SubModulo"("M03ModuloId", "M03Codigo");

-- CreateIndex
CREATE UNIQUE INDEX "C02CooperativaModulo_C02CoopId_C02ModuloId_key" ON "C02CooperativaModulo"("C02CoopId", "C02ModuloId");

-- CreateIndex
CREATE UNIQUE INDEX "C03CooperativaSubModulo_C03CoopModuloId_C03SubModuloId_key" ON "C03CooperativaSubModulo"("C03CoopModuloId", "C03SubModuloId");

-- CreateIndex
CREATE INDEX "_R09EvaluacionFase3ToR12Usuario_B_index" ON "_R09EvaluacionFase3ToR12Usuario"("B");

-- CreateIndex
CREATE INDEX "_R12UsuarioToR15EvaluacionFase4_B_index" ON "_R12UsuarioToR15EvaluacionFase4"("B");

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01Suc_id_fkey" FOREIGN KEY ("R01Suc_id") REFERENCES "R11Sucursal"("R11Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01SP_id_fkey" FOREIGN KEY ("R01SP_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01Ejvo_id_fkey" FOREIGN KEY ("R01Ejvo_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01Pro_id_fkey" FOREIGN KEY ("R01Pro_id") REFERENCES "R13Producto"("R13Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01Cat_id_fkey" FOREIGN KEY ("R01Cat_id") REFERENCES "R14Categoria"("R14Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R01Prestamo" ADD CONSTRAINT "R01Prestamo_R01Coop_id_fkey" FOREIGN KEY ("R01Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R02Grupo" ADD CONSTRAINT "R02Grupo_R02Coop_id_fkey" FOREIGN KEY ("R02Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R03Rubro" ADD CONSTRAINT "R03Rubro_R03G_id_fkey" FOREIGN KEY ("R03G_id") REFERENCES "R02Grupo"("R02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R04Elemento" ADD CONSTRAINT "R04Elemento_R04R_id_fkey" FOREIGN KEY ("R04R_id") REFERENCES "R03Rubro"("R03Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R05EvaluacionFase1" ADD CONSTRAINT "R05EvaluacionFase1_R05E_id_fkey" FOREIGN KEY ("R05E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R05EvaluacionFase1" ADD CONSTRAINT "R05EvaluacionFase1_R05Ev_por_fkey" FOREIGN KEY ("R05Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R05EvaluacionFase1" ADD CONSTRAINT "R05EvaluacionFase1_R05P_num_fkey" FOREIGN KEY ("R05P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R06EvaluacionResumenFase1" ADD CONSTRAINT "R06EvaluacionResumenFase1_R06P_num_fkey" FOREIGN KEY ("R06P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R06EvaluacionResumenFase1" ADD CONSTRAINT "R06EvaluacionResumenFase1_R06Ev_por_fkey" FOREIGN KEY ("R06Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R07EvaluacionFase2" ADD CONSTRAINT "R07EvaluacionFase2_R07E_id_fkey" FOREIGN KEY ("R07E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R07EvaluacionFase2" ADD CONSTRAINT "R07EvaluacionFase2_R07Ev_por_fkey" FOREIGN KEY ("R07Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R07EvaluacionFase2" ADD CONSTRAINT "R07EvaluacionFase2_R07P_num_fkey" FOREIGN KEY ("R07P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R08EvaluacionResumenFase2" ADD CONSTRAINT "R08EvaluacionResumenFase2_R08P_num_fkey" FOREIGN KEY ("R08P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R08EvaluacionResumenFase2" ADD CONSTRAINT "R08EvaluacionResumenFase2_R08Ev_por_fkey" FOREIGN KEY ("R08Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R09EvaluacionFase3" ADD CONSTRAINT "R09EvaluacionFase3_R09E_id_fkey" FOREIGN KEY ("R09E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R09EvaluacionFase3" ADD CONSTRAINT "R09EvaluacionFase3_R09P_num_fkey" FOREIGN KEY ("R09P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R10EvaluacionResumenFase3" ADD CONSTRAINT "R10EvaluacionResumenFase3_R10P_num_fkey" FOREIGN KEY ("R10P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R10EvaluacionResumenFase3" ADD CONSTRAINT "R10EvaluacionResumenFase3_R10Ev_por_fkey" FOREIGN KEY ("R10Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R10EvaluacionResumenFase3" ADD CONSTRAINT "R10EvaluacionResumenFase3_R10Sup_fkey" FOREIGN KEY ("R10Sup") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R11Sucursal" ADD CONSTRAINT "R11Sucursal_R11Coop_id_fkey" FOREIGN KEY ("R11Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R12Usuario" ADD CONSTRAINT "R12Usuario_R12Coop_id_fkey" FOREIGN KEY ("R12Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R12Usuario" ADD CONSTRAINT "R12Usuario_R12Suc_id_fkey" FOREIGN KEY ("R12Suc_id") REFERENCES "R11Sucursal"("R11Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R13Producto" ADD CONSTRAINT "R13Producto_R13Cat_id_fkey" FOREIGN KEY ("R13Cat_id") REFERENCES "R14Categoria"("R14Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R13Producto" ADD CONSTRAINT "R13Producto_R13Coop_id_fkey" FOREIGN KEY ("R13Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R14Categoria" ADD CONSTRAINT "R14Categoria_R14Coop_id_fkey" FOREIGN KEY ("R14Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R15EvaluacionFase4" ADD CONSTRAINT "R15EvaluacionFase4_R15E_id_fkey" FOREIGN KEY ("R15E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R15EvaluacionFase4" ADD CONSTRAINT "R15EvaluacionFase4_R15P_num_fkey" FOREIGN KEY ("R15P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R16EvaluacionResumenFase4" ADD CONSTRAINT "R16EvaluacionResumenFase4_R16P_num_fkey" FOREIGN KEY ("R16P_num") REFERENCES "R01Prestamo"("R01NUM") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R16EvaluacionResumenFase4" ADD CONSTRAINT "R16EvaluacionResumenFase4_R16Ev_por_fkey" FOREIGN KEY ("R16Ev_por") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R18LimitePrudencial" ADD CONSTRAINT "R18LimitePrudencial_R18Coop_id_fkey" FOREIGN KEY ("R18Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R19Movimientos" ADD CONSTRAINT "R19Movimientos_R19Suc_id_fkey" FOREIGN KEY ("R19Suc_id") REFERENCES "R11Sucursal"("R11Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R19Movimientos" ADD CONSTRAINT "R19Movimientos_R19Coop_id_fkey" FOREIGN KEY ("R19Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R20EvaluacionFase1Sisconcap" ADD CONSTRAINT "R20EvaluacionFase1Sisconcap_R20Folio_fkey" FOREIGN KEY ("R20Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R21EvaluacionResumenFase1" ADD CONSTRAINT "R21EvaluacionResumenFase1_R21Folio_fkey" FOREIGN KEY ("R21Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R21EvaluacionResumenFase1" ADD CONSTRAINT "R21EvaluacionResumenFase1_R21SP_id_fkey" FOREIGN KEY ("R21SP_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R21EvaluacionResumenFase1" ADD CONSTRAINT "R21EvaluacionResumenFase1_R21Ejvo_id_fkey" FOREIGN KEY ("R21Ejvo_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R22EvaluacionFase2Sisconcap" ADD CONSTRAINT "R22EvaluacionFase2Sisconcap_R22Folio_fkey" FOREIGN KEY ("R22Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R23EvaluacionResumenFase2" ADD CONSTRAINT "R23EvaluacionResumenFase2_R23Folio_fkey" FOREIGN KEY ("R23Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R23EvaluacionResumenFase2" ADD CONSTRAINT "R23EvaluacionResumenFase2_R23SP_id_fkey" FOREIGN KEY ("R23SP_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R24EvaluacionFase3Sisconcap" ADD CONSTRAINT "R24EvaluacionFase3Sisconcap_R24Folio_fkey" FOREIGN KEY ("R24Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R25EvaluacionResumenFase3" ADD CONSTRAINT "R25EvaluacionResumenFase3_R25Folio_fkey" FOREIGN KEY ("R25Folio") REFERENCES "R19Movimientos"("R19Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R25EvaluacionResumenFase3" ADD CONSTRAINT "R25EvaluacionResumenFase3_R25SP_id_fkey" FOREIGN KEY ("R25SP_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "C01ControlCarga" ADD CONSTRAINT "C01ControlCarga_C01CooperativaCodigo_fkey" FOREIGN KEY ("C01CooperativaCodigo") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RA01Credito" ADD CONSTRAINT "RA01Credito_RA01ControlId_fkey" FOREIGN KEY ("RA01ControlId") REFERENCES "C01ControlCarga"("C01Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A01MuestraSeleccionCredito" ADD CONSTRAINT "A01MuestraSeleccionCredito_A01UsuarioId_fkey" FOREIGN KEY ("A01UsuarioId") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A01MuestraSeleccionCredito" ADD CONSTRAINT "A01MuestraSeleccionCredito_A01CoopId_fkey" FOREIGN KEY ("A01CoopId") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A02MuestraCreditoSeleccion" ADD CONSTRAINT "A02MuestraCreditoSeleccion_A02MuestraId_fkey" FOREIGN KEY ("A02MuestraId") REFERENCES "A01MuestraSeleccionCredito"("A01Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A02MuestraCreditoSeleccion" ADD CONSTRAINT "A02MuestraCreditoSeleccion_A02CreditoFolio_fkey" FOREIGN KEY ("A02CreditoFolio") REFERENCES "RA01Credito"("RA01Folio") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A02MuestraCreditoSeleccion" ADD CONSTRAINT "A02MuestraCreditoSeleccion_A02Sucursal_fkey" FOREIGN KEY ("A02Sucursal") REFERENCES "R11Sucursal"("R11Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A03EvaluacionFase1AuditoriaC" ADD CONSTRAINT "A03EvaluacionFase1AuditoriaC_A03CSId_fkey" FOREIGN KEY ("A03CSId") REFERENCES "A02MuestraCreditoSeleccion"("A02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A03EvaluacionFase1AuditoriaC" ADD CONSTRAINT "A03EvaluacionFase1AuditoriaC_A03E_id_fkey" FOREIGN KEY ("A03E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A04EvaluacionResumenFase1" ADD CONSTRAINT "A04EvaluacionResumenFase1_A04Id_fkey" FOREIGN KEY ("A04Id") REFERENCES "A02MuestraCreditoSeleccion"("A02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A04EvaluacionResumenFase1" ADD CONSTRAINT "A04EvaluacionResumenFase1_A04Aud_id_fkey" FOREIGN KEY ("A04Aud_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A04EvaluacionResumenFase1" ADD CONSTRAINT "A04EvaluacionResumenFase1_A04Resp_fkey" FOREIGN KEY ("A04Resp") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A05EvaluacionFase2AuditoriaC" ADD CONSTRAINT "A05EvaluacionFase2AuditoriaC_A05CSId_fkey" FOREIGN KEY ("A05CSId") REFERENCES "A02MuestraCreditoSeleccion"("A02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A05EvaluacionFase2AuditoriaC" ADD CONSTRAINT "A05EvaluacionFase2AuditoriaC_A05E_id_fkey" FOREIGN KEY ("A05E_id") REFERENCES "R04Elemento"("R04Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A06EvaluacionResumenFase2" ADD CONSTRAINT "A06EvaluacionResumenFase2_A06Id_fkey" FOREIGN KEY ("A06Id") REFERENCES "A02MuestraCreditoSeleccion"("A02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "A06EvaluacionResumenFase2" ADD CONSTRAINT "A06EvaluacionResumenFase2_A06Aud_id_fkey" FOREIGN KEY ("A06Aud_id") REFERENCES "R12Usuario"("R12Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "M01ControlMigracion" ADD CONSTRAINT "M01ControlMigracion_M01Coop_id_fkey" FOREIGN KEY ("M01Coop_id") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "M03SubModulo" ADD CONSTRAINT "M03SubModulo_M03ModuloId_fkey" FOREIGN KEY ("M03ModuloId") REFERENCES "M02Modulo"("M02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "C02CooperativaModulo" ADD CONSTRAINT "C02CooperativaModulo_C02CoopId_fkey" FOREIGN KEY ("C02CoopId") REFERENCES "R17Cooperativas"("R17Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "C02CooperativaModulo" ADD CONSTRAINT "C02CooperativaModulo_C02ModuloId_fkey" FOREIGN KEY ("C02ModuloId") REFERENCES "M02Modulo"("M02Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "C03CooperativaSubModulo" ADD CONSTRAINT "C03CooperativaSubModulo_C03CoopModuloId_fkey" FOREIGN KEY ("C03CoopModuloId") REFERENCES "C02CooperativaModulo"("C02Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "C03CooperativaSubModulo" ADD CONSTRAINT "C03CooperativaSubModulo_C03SubModuloId_fkey" FOREIGN KEY ("C03SubModuloId") REFERENCES "M03SubModulo"("M03Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_R09EvaluacionFase3ToR12Usuario" ADD CONSTRAINT "_R09EvaluacionFase3ToR12Usuario_A_fkey" FOREIGN KEY ("A") REFERENCES "R09EvaluacionFase3"("R09Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_R09EvaluacionFase3ToR12Usuario" ADD CONSTRAINT "_R09EvaluacionFase3ToR12Usuario_B_fkey" FOREIGN KEY ("B") REFERENCES "R12Usuario"("R12Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_R12UsuarioToR15EvaluacionFase4" ADD CONSTRAINT "_R12UsuarioToR15EvaluacionFase4_A_fkey" FOREIGN KEY ("A") REFERENCES "R12Usuario"("R12Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_R12UsuarioToR15EvaluacionFase4" ADD CONSTRAINT "_R12UsuarioToR15EvaluacionFase4_B_fkey" FOREIGN KEY ("B") REFERENCES "R15EvaluacionFase4"("R15Id") ON DELETE CASCADE ON UPDATE CASCADE;

